.error-list-parent, .error-list-container {
  display: flex;
  justify-content: center;
}

.error-list-parent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
}

.error-list-container {
  margin-top: 75px;
}

.error-list {
  background: #fcf3cd;
  color: #856404;
  font-family: Verdana;
  font-size: 15px;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
  font-weight: 400;
  border: 1px solid #fbedb7;
}

.error-list:empty {
  border: none;
  padding: 0px;
}
