.error-list-parent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-list-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.error-list {
  background: white;
  color: #dc282a;
  font-family: "Helvetica";
  font-size: 12px;
  border-radius: 2px;
  padding: 6px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
}

.error-list:empty {
  padding: 0px;
}
