.footer {
  position: fixed; 
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  height: 52px;
  width: 100%;
  z-index: 999;
}

.footer-text {
  display: flex;
  padding-bottom: 3px;
  justify-content: space-around;
  width: 300px;
  font-size: 13px;
  color: #999;
  font-family: "Helvetica";
  letter-spacing: 0.5px;
}

.github-plug a, .linkedin-plug a, .contact-plug a, .github-plug a:visited, .github-plug a:focus, .github-plug a:active, .linkedin-plug a:visited, .linkedin-plug a:focus, .linkedin-plug a:active, .contact-plug a:visited, .contact-plug a:focus, .contact-plug a:active {
  color: #999;
  text-decoration: none;
}

.github-plug a:hover, .linkedin-plug a:hover, .contact-plug a:hover {
  color: #c8c8c8;
  text-decoration: none;
}
