.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  height: 51px;
  font-family: "Helvetica";
}

.navbar-logo {
  text-decoration: none;
  padding-left: 20px;
  color: white;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: -1px;
}

.navbar-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 125px;
  font-size: 12px;
  padding: 5px 20px;
}

.login-btn {
  text-decoration: none;
  color: white;
}

.signup-btn {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background: white;
  padding: 7px 16px;
  border-radius: 2px;
  font-weight: 550;
}

.signup-btn:hover {
  color: gray;
}
