.navbar, .navbar-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  background: rgba(0, 0, 0, 0.4);
  height: 63px;
  font-family: "Helvetica";
}

.navbar-logo, .login-btn {
  text-decoration: none;
  color: white;
}

.navbar-logo {
  padding-left: 25px;
  font-weight: 900;
  font-size: 27px;
  letter-spacing: -1px;
}

.navbar-btn {
  width: 162px;
  font-size: 15px;
  padding: 10px 20px;
  padding-right: 25px;
}

.signup-btn {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background: white;
  padding: 8px 20px;
  border-radius: 3px;
  font-weight: 550;
}

.signup-btn:hover {
  color:#7f7f7f;
}
