.navbar, .navbar-btn, .navbar-logged-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logged-in, .navbar {
  font-family: Helvetica;
  position: fixed;
  top: 0;
  width: 100%;
  height: 63px;
}

.navbar-logged-in {
  background: black;
}

.navbar {
  background: rgba(0, 0, 0, 0.4);
}

.navbar-logo, .login-btn {
  text-decoration: none;
  color: white;
}

.login-btn:hover {
  color: #e6e6e6;
}

.navbar-logo {
  padding-left: 25px;
  font-weight: 900;
  font-size: 27px;
  letter-spacing: -1px;
}

.navbar-btn {
  width: 162px;
  font-size: 15px;
  padding: 10px 20px;
  padding-right: 25px;
}

.signup-btn {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background: white;
  padding: 8px 20px;
  border-radius: 3px;
  font-weight: 550;
}

.signup-btn:hover {
  color:#7f7f7f;
}

.fa-cloud-upload-alt,
.fa-cloud-upload-alt:visited,
.fa-user-circle, 
.fa-user-circle:visited {
  color: white;
  text-decoration: none;
  font-size: 30px;
  padding-top: 2px;
}

.fa-cloud-upload-alt:hover, .fa-user-circle:hover {
  color: #bcbcbd;
  cursor: pointer;
}

.navbarUpload-logged-in-btn, .navbar-logged-in-btn {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-right: 40px;
}

.navbarUpload-logout, .navbar-logout {
  background: #dc3545;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  padding: 7px 22px;
  font-family: Helvetica;
}
.navbarUpload-logout:hover, .navbar-logout:hover {
  background: #d92638;
  cursor: pointer;
}

.navbar-logged-in-btn {
  justify-content: space-between;
}

.navbarUpload-logged-in-btn {
  justify-content: flex-end;
}