// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photoIndex-parent, .photoIndex-bar, .userIndex-bar, .photoIndex-bar span, .userIndex-bar span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photoIndex-parent {
  flex-wrap: wrap;
  background: #f3f5f6;
  z-index: -1;
  margin-bottom: 52px;
  padding-bottom: 53px;
}

.photoIndex-container {
  width: 85vmax;
}

.photoIndex-container h1 {
  font-size: 26px;
  padding: 30px 0px 10px 1px;
  font-family: Helvetica;
  font-weight: 300;
}

.photoIndex-bar, .userIndex-bar {
  width: 100%;
  flex-wrap: wrap;
  background: white;
  height: 50px;
  font-family: Helvetica;
}

.photoIndex-bar span, .userIndex-bar span {
  padding: 0px 20px;
  font-size: 16px;
  height: 100%;
}

.photoIndex-bar {
  margin-top: 63px;
}

.photoIndex-bar span:hover, .userIndex-bar span:hover {
  box-shadow: inset 0px -3px 0px 0px #44bb4e;
  cursor: pointer;
  // border-bottom: 5px solid #128fdc;
}

.photoIndexItem {
  height: 300px;
  width: auto;
  margin: 1px 2.5px;
}



// .photoIndexItem-overlay {
//   position: absolute;
//   display: flex;
//   top: 0;
//   left: 0;
//   width: 90%;
//   height: 100%;
//   display: none;
// }

// .photoIndexItem-parent {
//   position: relative;
//   z-index: 0
// }

// .photoIndexItem-parent:hover .photoIndexItem-overlay {
//   margin: 0px 1px 2px 0px;
//   display: block;
//   bottom: 0;
//   background: rgba(0, 0, 0, 0.2);
// }
