// Photo Show Page
.photoShow-parent {
  display: flex;
  justify-content: center;
  background: #202123;
  height: 700px;
  flex-wrap: wrap;
  padding-top: 63px;
}

.photoShow-explore {
  width: 100%;
  display: flex;
  padding: 7px 0px 0px 20px;
  align-items: center;
}

.photoShow-explore span:hover + p, .photoShow-explore p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.photoShow-explore span:hover {
  cursor: pointer;
}

.photoShow-parent span {
  display: flex;
  justify-content: flex-start;
  color: white;
  font-size: 22px;
}

.photoShow-parent p {
  display: flex;
  justify-content: flex-start;
  color: #fff;
  font-family: Helvetica;
  padding-left: 10px;
  font-size: 13px;
}

.photoShow-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.photoShow-photo {
  display: flex;
  flex-wrap: wrap;
  max-height: 600px;
}

.photoShow-delete {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  color: white;
  font-size: 2.5vh;
  margin: 0px 40px 10px 0px;
}

.photoShow-delete:hover {
  cursor: pointer;
  
}

// Photo Details
.photoDetails-parent {
  display: flex;
  justify-content: center;  
  padding-bottom: 20vh;
  background: #f3f5f6;
}

.photoDetails-container {
  // Change width to 1000px when you have build out more features on the show page
  width: 500px;
  
  h1 {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 600;
    padding: 0px 10px 15px 10px;
  }
  
  h2 {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 400;
    padding: 0px 25px 0px 20px;
  }
}

.photoDetails-container2 {
  // Change width to 1000px when you have build out more features on the show page
  width: 500px;

  h1 {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 600;
    padding: 3vh 10px 15px 10px;
  }

  h2 {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 400;
    padding: 0px 25px 3vh 20px;
  }
}

.photoDetails-child2 {
 text-align: center;
 height: 11vh;
 border-bottom: 1px solid #cfd6d9;
}

.photoDetails-child {
  text-align: center;
  height: 8vh;
  border-bottom: 1px solid #cfd6d9;
}

.photoDetails-container:hover {
  background: #e7e9e9;
}

.photoDetails-container i {
  visibility: hidden;
  text-align: right;
  width: auto;
  font-size: 1.5vh;
  height: 1.5vh;
  padding: 7px;
}

.photoDetails-container:hover i {
  visibility: visible;
  display: flex;
  justify-content: flex-end;
  color: #bcc0c1;
}

// Edit Photo form
.photoEdit-form {
  padding-top: 2vh;
  width: 500px;
  text-align: center;
  border-bottom: 1px solid #cfd6d9;
}

.photoEdit-form input, .photoEdit-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 12px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
}

.photoEdit-update {
  margin-bottom: 2vh;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  background: #3ca745;
  color: white;
  border: none;
}

.photoShow-uploaderContainer {
  width: 100%;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-family: Helvetica;
  font-size: 15px;
}

.photoShow-uploader:active, .photoShow-uploader:visited, .photoShow-uploader {
  text-decoration: none;
  color: white;
}

.photoShow-uploader:hover {
  text-decoration: underline;
}