.upload1-parent, .upload2-parent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

// First Upload Page
.upload1-parent {
  align-items: center;
  background-color: #404040;
  background-image: url("https://s3-us-west-1.amazonaws.com/aprtr-seed/black-linen.png");
  z-index: -1;
}

.upload1-text {
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding: 20px;
}

.upload1-text p {
  padding: 10px;
}

.upload1-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin-bottom: 40px;
}

.upload1-btn {
  background: #3c63dc;
  color: #fff;
  font-family: Helvetica, sans-serif;
  border-radius: 5px;
  font-size: 20px;
  padding: 9px 15px;
  text-shadow: 1px 1px rgba(0, 0, 0, .3)
}

.upload1-btn:hover {
  cursor: pointer;
  background: #3254bc;
}

.upload1-btn:active {
  background: #2b48a1;
}

#upload1-photo {
  display: none;
}

// Second Upload Page
.upload2-parent {
  flex-wrap: wrap;
  align-items: center;
  background-color: #404040;
  background-image: url("https://s3-us-west-1.amazonaws.com/aprtr-seed/black-linen.png");
  z-index: -1;
}

.upload2-form {
  background: rgba(0, 0, 0, 0.2);
  height: 700px;
  width: 200px;
  margin-left: 30px;
  color: #e3e3e3;
  border: 2px solid #3b3b3b;
  font-family: Helvetica, sans-serif;
  margin-right: 30px;
}

.upload2-form-title {
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: #3b3b3b;
  padding: 15px 20px;
  text-align: center;
  font-size: 20px;
}

.upload2-form-input {
  padding: 15px 20px;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: #3b3b3b;
}

.upload2-form-input input {
  margin: 3px;
  padding: 9px;
  background: none;
  border: none;
  font-size: 13px;
  color: white;
  width: 130px;
}

.upload2-form-input input:focus {
  border-radius: 5px;
  background: white;
  outline: none;
  color: black;
}

.upload2-preview {
  height: 700px;
  width: auto;
  display: flex;
  justify-content: flex-start;
  border: 2px solid #ee0185;
}

.upload2-btn {
  text-align: center;
  width: 120px;
  margin: 20px 40px 0px 40px;
  background: #44bb4e;
  color: white;
  border: none;
  border-radius: 5px;
  height: 35px;
  font-size: 13px;
}

.upload2-btn:hover {
  cursor: pointer;
  background: #3ca745;
}

.upload2-btn:active {
  background: #379504;
}

.upload2-btn:focus {
  outline: none;
}