.splash-image, .splash-text-parent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: -1;
}

.splash-image {
  background-image: url("https://farm5.staticflickr.com/4719/38961235164_37dd78404e_k.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.splash-text-parent {
  justify-content: center;
  align-items: center;
  padding-bottom: 47px;
}

.splash-text {
  width: 650px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.splash-motto {
  padding: 15px;
  padding-bottom: 32px;
  font-size: 50px;
  letter-spacing: 1px;
  text-align: center;
}

.splash-body {
  padding-top: 10x;
  padding-bottom: 33px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 24px;
  line-height: 31px;
}

.splash-btn {
  margin-top: 40px;
}

.splash-signup-btn {
  background: white;
  padding: 19px 58px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.splash-signup-btn:hover {
  color: #7f7f7f;

}